@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  transition: all 0.2s ease-in-out;
}

body {
  @apply bg-[#0f172a];
  font-family: 'Nunito', sans-serif;
}

.folder-section {
  @apply w-11/12;
}
.folder-title {
  @apply text-base font-bold text-gray-400 pt-5 border-gray-500 border-b;
}
.folder-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
